template(name="event")
  .container-fluid.fact-sheet-wrap.main-content
    .container
        .row
          .col-lg-12.event-head
            with event
              .basic-info
                .row
                  .col-lg-10
                    h1 {{simpleTitle}}
                    if diseaseVal
                      h2.minor Disease:
                        span #{diseaseVal}
                    h3 {{displayDates}}

            .row.fact-sheet
              with event
                .col-lg-7
                  p #{Abstract}
                  +facts
                .col-lg-5
                  +map
                  each location
                    +statsTable stats=locationStats event=this className='location-table'
  .container.tables
    .row
      with event
        .col-lg-12
          +tables economicStats=economicStats event=this


template(name="facts")
  dl
    .main-facts
      .col-lg-4.main-fact.col-sm-6
        dt Emergence Type
        dd #{eidCategoryVal}
      .col-lg-4.main-fact.col-sm-6
        dt Driver
        dd #{driverVal}
      .col-lg-2.main-fact.col-sm-6
        dt Infected
        dd.lrg #{numberInfectedVal}
      .col-lg-2.main-fact.col-sm-6
        dt Deaths
        dd.lrg #{numberDeathsVal}

    .main-facts
      .col-lg-6.main-fact
        dt Event Transmission
        dd #{eventTransmissionVal}
        //- {{showIcon}}

      if zoonoticTypeVal
        .col-lg-3.main-fact
          dt Zoonotic Type
          dd #{zoonoticTypeVal}
        .col-lg-3.main-fact
          dt Host
          dd #{hostVal}
