template(name="event")
  .container-fluid.fact-sheet-wrap.event.space-btm-4
    .container
      .row
        .col-lg-12.event-head
          with event
            .basic-info
              .row
                .col-lg-10
                  h1 {{simpleTitle}}
                  h2 {{displayDates}}

          .row.fact-sheet
            with event
              .col-lg-7.col-md-12
                if Abstract
                  p.abstract #{Abstract}
                +facts
              .col-lg-5.col-md-12
                +map
                .location-list-wrap
                  h2 {{pluralizeLocation locations}}
                  small This represents the most specific location information found for the event.
                  ul
                  each locationList locations
                    li.location-list {{this}}
  .container.tables
    .row
      with event
        .col-lg-12
          +tables event=this
  .container.comments-wrap
    +comments

template(name="facts")
  table.main-facts.table
    thead
      tr
        th Emergence Type
          +descriptionInline(field="eidCategoryVal" event=../event)
        th Driver
          +descriptionInline(field="driverVal" event=../event)
        th Disease
          +descriptionInline(field="diseaseVal" event=../event)
    tbody
      tr
        td(data-header="Emergence Type") 
          span #{eidCategoryVal}
        td(data-header="Driver") 
          span #{driverVal}
        td(data-header="Disease")
          span #{diseaseVal}

  table.main-facts.table
    thead
      tr
        th Event Transmission
          +descriptionInline(field="eventTransmissionVal" event=../event)
        th Pathogen Host(s)
          +descriptionInline(field="hostVal" event=../event)
        th Specific Host Involved in the Event
          +descriptionInline(field="initiallyReportedHostVal" event=../event)
    tbody
      tr
        td(data-header="Event Transmission")
          ul.transmission-icons.list-unstyled
            if icons
              each icons
                li(class="#{className}" data-content="#{fullName}" data-toggle="popover" data-container="body")
            else 
              li.unknown
        td(data-header="Pathogen Host(s)")
          span #{hostVal}
        td(data-header="Specific Host Involved in the Event")
          span #{initiallyReportedHostVal}

template(name="description")
  .icon-wrap
    .description-wrap(data-toggle="popover" data-content="{{getDescription event field}}")
      span.description

template(name="descriptionInline")
  span(data-toggle="popover" data-content="{{getDescription event field}}").description-inline

template(name="comments")
  .row
    .col-lg-7
      .panel.panel-default
        .panel-heading
          h3 Comments
        .panel-body.comments-container
          .comment-form
            if currentUser
              form#add-comment
                .row
                  .col-lg-12
                    textarea.form-control.new-comment(name="comment" placeholder="General comment about this event.")
                .row
                  .col-lg-4.col-lg-offset-8.col-sm-12
                    button.btn.btn-primary.btn-lg.btn-block.add-comment(type="submit") Add comment
            else
              +atForm
          if checkComments
            ul.list-group.comment-list
              each comments
                +comment
