template(name="event")
  .container-fluid.fact-sheet-wrap.main-content.event
    .container
        .row
          .col-lg-12.event-head
            with event
              .basic-info
                .row
                  .col-lg-10
                    h1 {{simpleTitle}}
                    if diseaseVal
                      h2.minor Disease:
                        span #{diseaseVal}
                    h3 {{displayDates}}

            .row.fact-sheet
              with event
                .col-lg-7
                  p #{Abstract}
                  +facts
                .col-lg-5
                  +map
                  +statsTable stats=locationStats event=this className='location-table'
  .container.tables
    .row
      with event
        .col-lg-12
          +tables economicStats=economicStats event=this


template(name="facts")
  table.main-facts.table
    thead
      tr
        th Emergence Type
        th Driver
        th Infected
        th Deaths
    tbody
      tr
        td #{eidCategoryVal}
        td #{driverVal}
        td.lrg #{numberInfectedVal}
        td.lrg #{numberDeathsVal}

  //- dl
  //-   .main-facts
  //-     .col-lg-4.main-fact.col-sm-6
  //-       dt Emergence Type
  //-       dd #{eidCategoryVal}
  //-     .col-lg-4.main-fact.col-sm-6
  //-       dt Driver
  //-       dd #{driverVal}
  //-     .col-lg-2.main-fact.col-sm-6
  //-       dt Infected
  //-       dd.lrg #{numberInfectedVal}
  //-     .col-lg-2.main-fact.col-sm-6
  //-       dt Deaths
  //-       dd.lrg #{numberDeathsVal}

  table.main-facts.table(style="width:100%")
    thead
      tr
        th Event Transmission
        if zoonoticTypeVal
          th Zoonotic Type
          th Host
    tbody
      tr
        td 
          {{parseTypes}}
          ul.transmission-icons.list-unstyled
            if icons
              each icons
                if this
                  li(class="#{this.className}" title="#{this.fullName}", data-toggle="tooltip", data-placement="bottom")
            else 
              li.unknown
        if zoonoticTypeVal      
          td #{zoonoticTypeVal}          
          td #{hostVal}
