template(name="event")
  .container-fluid.fact-sheet-wrap.main-content.event
    .container
        .row
          .col-lg-12.event-head
            with event
              .basic-info
                .row
                  .col-lg-10
                    h1 {{simpleTitle}}
                    if diseaseVal
                      h2.minor Disease:
                        span #{diseaseVal}
                    h3 {{displayDates}}

            .row.fact-sheet
              with event
                .col-lg-7
                  if Abstract
                    p.abstract #{Abstract}
                  if notes
                    .notes
                      h3 Notes
                      p #{notes}
                  +facts
                .col-lg-5
                  +map
                  .location-list {{locationList locations}}
                  div
                    small *This represents the most specific location information found for the event.
  .container.tables
    .row
      with event
        .col-lg-12
          +tables economicStats=economicStats event=this


template(name="facts")
  table.main-facts.table
    thead
      tr
        th Emergence Type
        th Driver
        th Infected
        th Deaths
    tbody
      tr
        td #{eidCategoryVal}
        td #{driverVal}
        td.lrg #{numberInfectedVal}
        td.lrg #{numberDeathsVal}

  table.main-facts.table(style="width:100%")
    thead
      tr
        th Event Transmission
        if zoonoticTypeVal
          th Zoonotic Type
          th Host
    tbody
      tr
        td 
          ul.transmission-icons.list-unstyled
            if icons
              each icons
                li(class="#{className}" title="#{fullName}" data-toggle="tooltip")
            else 
              li.unknown
        if zoonoticTypeVal      
          td #{zoonoticTypeVal}          
          td #{hostVal}
