template(name="event")
  .container
    .dash
      .row
        .col-lg-12.eventHead
          with event
            h1 {{simpleTitle}}
            if diseaseVal
              h2.minor Disease:
                span #{diseaseVal}
            h3 {{displayDates}}

          .row.fact-sheet
            with event
              .col-lg-6
                p #{Abstract}
                +facts
              .col-lg-6
                +locationInfo economicsStats=economicsStats
        .col-lg-12
          .row
            with event
              .col-lg-12
                +tabs economicsStats=economicsStats


template(name="facts")
  .row
    .col-lg-6
      h3 Emergence Type
      p #{eidCategoryVal}
    .col-lg-6
      h3 Driver
      p #{driverVal}

  .row
    .col-lg-6
      h4 Number Infected
      p #{numberInfectedVal}
    .col-lg-6
      h4 Number of Deaths
      p #{numberDeathsVal}

  h3 Event Transmission
  p #{eventTransmissionVal}

  if zoonoticTypeVal

    .row
      .col-lg-6
        h3 Zoonotic Type
        p #{zoonoticTypeVal}
      .col-lg-6
        h3 Host
        p #{hostVal}

template(name="locationInfo")
    +map
    h3. Location
    +statsTable stats=economicsStats event=this
