template(name="event")
  .container-fluid.fact-sheet-wrap.main-content.event
    .container.content-block
      .row
        .col-lg-12.event-head
          with event
            .basic-info
              .row
                .col-lg-10
                  h1 {{simpleTitle}}
                  if diseaseVal
                    h2.minor Disease:
                      span #{diseaseVal}
                  h3 {{displayDates}}

          .row.fact-sheet
            with event
              .col-lg-7.col-md-12
                if Abstract
                  p.abstract #{Abstract}
                if notes
                  .notes
                    h3 Notes
                    p #{notes}
                +facts
              .col-lg-5.col-md-12
                +map
                .location-list-wrap
                  p.location-list {{locationList locations}}
                  small *This represents the most specific location information found for the event.
  .container.tables
    .row
      with event
        .col-lg-12
          +tables economicStats=economicStats event=this
  .container.comments-wrap
    +comments

template(name="facts")
  table.main-facts.table
    thead
      tr
        th Emergence Type
        th Driver
        th Infected
        th Deaths
    tbody
      tr
        td(data-header="Emergence Type") 
          span #{eidCategoryVal}
        td(data-header="Driver") 
          span #{driverVal}
        td.lrg(data-header="Infected") 
          span #{numberInfectedVal}
        td.lrg(data-header="Deaths") 
          span #{numberDeathsVal}

  table.main-facts.table(style="width:100%")
    thead
      tr
        th Event Transmission
        if zoonoticTypeVal
          th Zoonotic Type
          th Host
    tbody
      tr
        td(data-header="Event Transmission")
          ul.transmission-icons.list-unstyled
            if icons
              each icons
                li(class="#{className}" data-content="#{fullName}" data-toggle="popover" data-container="body")
            else 
              li.unknown
        if zoonoticTypeVal      
          td(data-header="Zoonotic Type") 
            span #{zoonoticTypeVal}          
          td(data-header="Host") 
            span #{hostVal}

template(name="comments")
  .row
    .col-lg-7
      .panel.panel-default
        .panel-heading
          h3 Comments
        .panel-body.comments-container
          .comment-form
            if currentUser
              form#add-comment
                .row
                  .col-lg-12
                    textarea.form-control.new-comment(name="comment" placeholder="General comment about this event.")
                .row
                  .col-lg-4.col-lg-offset-8.col-sm-12
                    button.btn.btn-primary.btn-lg.btn-block.add-comment(type="submit") Add comment
            else
              +atForm
          if checkComments
            ul.list-group.comment-list
              each comments
                li.list-group-item.comment
                  p #{comment}
                  .row.comment-info
                    .col-lg-6.user
                      p #{username}
                    .col-lg-6.time
                      p #{timeStamp}
