template(name="tabs")
  #tabs.tabs
    ul
      li
        a(href="#tabs-1") Abstract
      li
        a(href="#tabs-2") Stats
      li
        a(href="#tabs-3") Pathogen
      li
        a(href="#tabs-4") Location
      li
        a(href="#tabs-5") Economics
      li
        a(href="#tabs-6") References

    #tabs-1 #{Abstract}

    #tabs-2
      +statsTable stats=stats event=this

    #tabs-3
      +statsTable stats=pathogenStats event=this

    #tabs-4
      +statsTable stats=locationStats event=this

    #tabs-5
      +statsTable stats=economicsStats event=this

    #tabs-6
      each references
        +reference

template(name="statsTable")
  table.table.table-striped.table-hover
    each stats
      if showStat key ../event
        tr
          td #{label}
          td {{getVal key ../event}}

template(name="reference")
  if rights
    p {{formatAuthor}} #{date}
    p #{title}
    br
  else
    p #{this}
    br
