template(name="varDefs")
  .fluid-container
    .container
      h1 Variable Definitions
    dl.varDefs
      each getTabs fields
        .field-wrap
          .container
            .row
              .col-md-9
                h2 #{this}
                each getTabVariables ../fields this
                  dt #{displayName}
                  dd 
                    p.varDescription #{webVariableDescription}
                    if getDropdownValues dropdownExplanations
                      .explanations-wrap
                        ul.explanations
                          each getDropdownValues dropdownExplanations
                            li 
                              span.type #{type}: 
                              span.explanation #{explanation}
